.input-box {
  position: relative;
  width: 300px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  color: #7c7a6b;
}

.input {
  position: relative;
  width: 100%;
  padding: 10px 0;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #999;
  color: #7c7a6b;
  font-size: 14px;
  letter-spacing: 0.15em;
}

.input:focus,
.input:valid {
  border-bottom: 2px solid #72cffa;
}

.input:focus ~ .label,
.input:valid ~ .label {
  color: #aea5a5;
  letter-spacing: 0.15em;
  font-size: 12px;
  transform: translateY(-25px);
}

.label {
  position: absolute;
  left: 0;
  padding: 10px 0;
  pointer-events: none;
  color: #999;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}

.password-toggle {
  position: absolute;
  right: 5px;
  cursor: pointer;
  align-self: center;
}
